@media (min-width: 768px) {
  * {
    cursor: none;
  }

  .cursor {
    position: fixed;
    z-index: 9999;
    background: #2696e8; /* Blue central dot */
    width: 16px; /* Small size for the inner circle */
    height: 16px; /* Small size for the inner circle */
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%); /* Center the cursor */
    transition: transform 0.05s ease-out;
    box-shadow: none; /* Ensure no shadow is applied */
  }

  .cursor-before {
    display: none; /* Completely remove the outer circle */
  }
}
