@media (min-width: 768px) {
  * {
    cursor: none;
  }

  .cursor {
    position: fixed;
    z-index: 9999;
    background: #2696e8;
    width: 16px; 
    height: 16px; 
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.05s ease-out;
    box-shadow: none; 
  }

  .cursor-before {
    display: none;
  }
}
